{% extends 'base.html.twig' %}

{% block title %}New Juego{% endblock %}

{% block body %}
    <h1>Nuevo Juego</h1>

    {{ include('juego/_form.html.twig') }}

    <a href="{{ path('juego_index') }}"
        class="btn btn-secondary btn-md active" role="button" aria-pressed="true">Volver a la lista</a>
{% endblock %}
